<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link href="${http_base_url}/${resSys}/js-libs/insdep2/insdep.easyui.min.css" rel="stylesheet" type="text/css">
<link href="${http_base_url}/${resSys}/js-libs/insdep2/icon.css" rel="stylesheet" type="text/css">
<link href="${http_base_url}/${resSys}/js-libs/insdep2/iconfont/iconfont.css" rel="stylesheet" type="text/css">
<link href="${http_base_url}/${resSys}/js-libs/insdep2/insdep.config.min.css" rel="stylesheet" type="text/css">
<!--<link href="${http_base_url}/${resSys}/js-libs/insdep2/agcloud_custom_easyui.css" rel="stylesheet" type="text/css">-->
<script type="text/javascript" src="${http_base_url}/${resSys}/js-libs/insdep2/jquery.min.js"></script>
<script type="text/javascript" src="${http_base_url}/${resSys}/js-libs/insdep2/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${http_base_url}/${resSys}/js-libs/insdep2/insdep.config.min.js"></script>
<script type="text/javascript" src="${http_base_url}/${resSys}/js-libs/insdep2/insdep.easyui.min.js"></script>