<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--begin::Base css -->
<link href="${http_base_url}/${resSys}/theme-libs/metronic-v5/default/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<!--<link href="${http_base_url}/${resSys}/theme-libs/metronic-v5/default/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />-->
<link href="${http_base_url}/${resSys}/theme-libs/metronic-v5/default/assets/demo/default/base/agcloud_custom_metronic.css" rel="stylesheet" type="text/css" />
<!--end::Base css -->

<!--begin::Base Scripts -->
<script src="${http_base_url}/${resSys}/theme-libs/metronic-v5/default/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="${http_base_url}/${resSys}/theme-libs/metronic-v5/default/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Base Scripts -->


