        #mapDiv{
            padding: 0;
            margin: 0;
            height: 100%;
	        width:100%;
	        position:relative;
	        overflow: hidden;
        }
        /*地图基本控件样式*/
        #HomeButton
        {
            position: absolute;
            top: 95px;
            left: 20px;
            z-index: 50;
        }
        #LocateButton
        {
            position: absolute;
            top: 135px;
            left: 20px;
            z-index: 50;
        }
        /*地图弹出框样式*/
        .ps-popupwin
        {
            min-height: 24px;
            min-width: 150px;
            border-style:solid;
            border-width: 1px;
            border-color:Gray;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            width:100%;
            height:100%;
        }
        .ps-infowin
        {
            border-style:solid;
            border-width: 0px;
            border-color:Gray;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            width:100%;
            height:100%;
        }
        .ps-popupwin .title
        {
            width: 100%;
            height: 100%;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            color: White;
            line-height:24px;
            vertical-align:middle;
        }
         .ps-popupwin .imgButton
        {
            position:absolute;
            right:0px;
            top:0px;
            z-index:10;
        }
        .ps-popupwin .closeBtn
        {
            padding-top: 4px;
            padding-right:5px;
            cursor: pointer;
        }
        .ps-popupwin .minBtn
        {
            padding-top: 4px;
            padding-right:5px;
            cursor: pointer;
        }
        .ps-popupwin .maxBtn
        {
            padding-top: 4px;
            padding-right:5px;
            cursor: pointer;
        }
        .ps-popupwin .content
        {
            width: 100%;
            height: 100%;
            overflow:hidden;
        }
        .ps-popupwin .innerLayerout
        {
            width: 100%;
            height: 100%;
        }
        .ps-popupwin .outerTopLayerout
        {
            height: 24px;
            background-color:#0085CA;
        }
        .ps-popupwin .outerBottomLayerout
        {
            height: 16px;
        }
        .ps-popupwin .popup_topleft
        {
            width: 16px;
            background-image: url('img/popupwin/popup_topleft.png');
        }
        .ps-popupwin .popup_topcenter
        {
            background-image: url('img/popupwin/popup_topcenter.png');
            background-repeat: repeat-x;
        }
        .ps-popupwin .popup_topright
        {
            width: 42px;
            text-align: center;
            background-image: url('img/popupwin/popup_topright.png');
        }
        .ps-popupwin .popup_centerleft
        {
            width: 16px;
            background-image: url('img/popupwin/popup_centerleft.png');
        }
        .ps-popupwin .popup_centerright
        {
            width: 16px;
            background-image: url('img/popupwin/popup_centerright.png');
        }
        
        .ps-popupwin .popup_bottomleft
        {
            width: 16px;
            background-image: url('img/popupwin/popup_bottomleft.png');
        }
        .ps-popupwin .popup_bottomcenter
        {
            background-image: url('img/popupwin/popup_bottomcenter.png');
            background-repeat: repeat-x;
        }
        .ps-popupwin .popup_bottomright
        {
            width: 16px;
            background-image: url('img/popupwin/popup_bottomright.png');
        }
         
         .poopupwinDiv
        {
            position: absolute;
            top: 0px;
            left: 0px;
        }