<!DOCTYPE HTML>
<html>
	<head>
	    <title>区级应急预案管理</title>
	    <meta charset="UTF-8">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		
	    <link href="/awater/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	    <link href="/awater/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
	    <link href="/awater/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	    <link href="/awater/css/animate.min.css" rel="stylesheet">
	    <link href="/awater/lib/plugins/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css" rel="stylesheet">
        <link href="/awater/css/augur.expand.css" rel="stylesheet" type="text/css"/>	
    </head>
	<body>
		<div class="animated fadeInRight">
			<table id="tableDistrict"></table>
			<div style="text-align: right;padding-top:15px;border-top:1px solid #e7eaec">
				<div class="col-md-5 col-md-offset-5">
					<button class="btn btn-primary" type="button" onclick="startYA()">启动预案</button>
					<button class="btn btn-white" type="button" onclick="cancel()">取消</button>
				</div>
			</div>
        </div>
        <script src="/awater/lib/jquery.min.js?v=2.1.4"></script>
	    <script src="/awater/lib/bootstrap.min.js?v=3.3.6"></script>
		<script src="/awater/lib/plugins/bootstrap-table/bootstrap-table.js"></script>
	    <script src="/awater/lib/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	    <script src="/awater/lib/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	    <script src="/awater/lib/plugins/malihu-custom-scrollbar-plugin-master/js/minified/jquery.mousewheel.min.js"></script >
		<script src="/awater/lib/plugins/malihu-custom-scrollbar-plugin-master/js/minified/jquery.mCustomScrollbar.min.js"></script>
		<script type="text/javascript" src="js/Template_Alarm_List.js"></script>
	</body>
</html>
