.zdm-analysis-result-panel {
  position: absolute;
  z-index: 1000;
  left: 3%;
  bottom: 0;
  min-width: 600px;
  width: 94%;
  height: 320px;
  background: #EEEEEE;
  box-shadow: 0 0 5px #555555;
  overflow: hidden; }
  .zdm-analysis-result-panel.result-panel-minimized {
    width: 30%;
    height: auto;
    bottom: 0;
    left: 35%;
    min-width: 300px;
    box-shadow: 0 0 8px #FF0000; }
    .zdm-analysis-result-panel.result-panel-minimized .result-panel-control-bar {
      display: none; }
    .zdm-analysis-result-panel.result-panel-minimized .result-panel-chart-wrapper {
      display: none; }
    .zdm-analysis-result-panel.result-panel-minimized .result-panel-table-wrapper {
      display: none; }
  .zdm-analysis-result-panel .result-panel-title {
    width: 100%;
    background: #F5F5F5;
    box-shadow: 0 0 3px #555555;
    overflow: hidden;
    position: relative; }
    .zdm-analysis-result-panel .result-panel-title .result-panel-title-text {
      padding: 6px;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold; }
    .zdm-analysis-result-panel .result-panel-title .result-panel-title-btns {
      position: absolute;
      right: 0;
      top: 0; }
      .zdm-analysis-result-panel .result-panel-title .result-panel-title-btns .result-panel-title-btn {
        text-decoration: none;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding: 5px 15px 10px 15px; }
        .zdm-analysis-result-panel .result-panel-title .result-panel-title-btns .result-panel-title-btn:hover {
          background: #E5E5E5; }
        .zdm-analysis-result-panel .result-panel-title .result-panel-title-btns .result-panel-title-btn:active {
          background: #CACACB; }
        .zdm-analysis-result-panel .result-panel-title .result-panel-title-btns .result-panel-title-btn[data-role=close]:hover {
          background: #FF0000;
          color: #FFFFFF; }
  .zdm-analysis-result-panel .result-panel-control-bar {
    width: 100%;
    box-shadow: 0 0 3px #555555;
    padding: 5px;
    padding-left: 5%;
    background: #FCFCFC;
    text-align: center; }
    .zdm-analysis-result-panel .result-panel-control-bar .result-panel-control-bar-scaler button {
      width: 100px; }
    .zdm-analysis-result-panel .result-panel-control-bar .result-panel-control-bar-scaler input[type=text], .zdm-analysis-result-panel .result-panel-control-bar .result-panel-control-bar-scaler input[type=number] {
      width: 6em;
      border: none;
      outline: none;
      background: none;
      border-bottom: solid thin black;
      text-align: center; }
      .zdm-analysis-result-panel .result-panel-control-bar .result-panel-control-bar-scaler input[type=text][disabled], .zdm-analysis-result-panel .result-panel-control-bar .result-panel-control-bar-scaler input[type=number][disabled] {
        text-align: left;
        border-bottom: solid thin #FCFCFC; }
  .zdm-analysis-result-panel .result-panel-chart-wrapper {
    width: 65%;
    box-shadow: 0 0 3px #555555;
    background: #FFFFFF;
    overflow: hidden;
    float: left; }
    .zdm-analysis-result-panel .result-panel-chart-wrapper.result-panel-chart-scrollable {
      overflow: scroll; }
  .zdm-analysis-result-panel .result-panel-table-wrapper {
    width: 35%;
    height: 100%;
    min-height: 180px;
    max-height: 300px;
    background: #F5F5F5;
    box-shadow: 0 0 3px #555555;
    float: left;
    clear: right; }

/*# sourceMappingURL=zdm-analysis-result-panel.css.map */
