<#include "common/agcloud-meta.html">
<#include "common/mertronic5.html">
<#-- 取得 应用的绝对根路径 -->
<#assign basePath=request.contextPath>
<html>
<title>另外一个测试页面</title>
<head>
<link  href="${http_base_url}/ui-static/agcloud/bpm/front/view/mertronic5.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!--${resSys}</br>
${(aaa)!''} ${currentView.viewComment}
111122222-->

请求绝对路径-http_base_url-${http_base_url}<br/>
localhost_file_path-${localhost_file_path}
<!-- 标题导航 -->
<nav class="agcloud-navbar">
    <div class="agcloud-navbar-container">
       ${url1}-${resSys}-${request.contextPath}-
        <a class="agcloud-navbar-brand agcloud-icon-data-dictionary" href="javascript:void(0);" style="font-size: 16px"></a>
        <div class="agcloud-navbar-collapse">
            <ul class="agcloud-navbar-tabs">
                <li class="agcloud-nav-item">
                    <a href="" class="agcloud-nav-icon  agcloud-navbar-icon-question"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 主要显示内容 -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!--m-content begin-->
    <div class="m-content">
        <!--m-content->row begin-->
        <div class="row">
            <!--m-content->row->lg12 begin-->
            <div class="col-lg-12">
                <!--m-content->row->lg12->m-porlet begin-->
                <div class="m-portlet">
                    <!--m-content->row->lg12->m-porlet->portlet__body begin-->
                    <div class="m-portlet__body">
                        <!-- 查询  begin-->
                        <div class="m-form5">
                            <!--搜索表单组  begin-->
                            <div class="form-group m-form__group row align-items-center">

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-heading">
                                        <!--<h4 class="panel-title">
                                        详细查询
                                    </h4>-->
                                    </div>
                                    <div class="panel-body">
                                        <form id="search_sum_view_form_advance" class="m-form m-form--label-align-right" method="post" novalidate="novalidate">

                                            <div class="form-inline">
                                            </div>

                                        </form>

                                    </div>

                                </div>
                                <div class="form-group m-form__group row align-items-center">
                                    <div   class="col-md-10">
                                        <form id="search_sum_view_form" method="post">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input id="preViewId" type="hidden"	 value="${currentView.viewId}" />
                                                <input id="preViewCode" type="hidden"	 value="${currentView.viewCode}" />
                                                <input id="generalSearch" type="hidden" class="f                              orm-control m-input" placeholder="请输入关键字来简单查询..." name="mykey" value="" />
                                                <!--<span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                  </span>-->
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="tableQueryBtn" type="reset" class="btn btn-success" onclick="searchSumViewCondition();">查询</button>
                                        <button type="reset" class="btn btn-secondary" onclick="clearSearchSumViewCondition();">重置</button>
                                        <!--<a id="advanceSearch" data-toggle="collapse" data-parent="#accordion" class="btn btn-success"  href="#collapseOne">
                                        高级查询
                                    </a>-->
                                    </div>
                                </div>


                            </div>    <!--panel panel-default end-->

                        </div>
                        <!-- 查询  end-->
                        <table class="table m-table m-table--head-bg-success table-bordered table-hover" id="v5table">
                            <thead>
                            <tr>
                            </tr>
                            </thead>

                        </table>

                        <!--<div class="m_datatable" id="v5table"></div>-->
                    </div>
                    <!--m-content->row->lg12->m-porlet->portlet__body end-->
                </div>
                <!--m-content->row->lg12->m-porlet end-->
            </div>
            <!--m-content->row->lg12 end-->
        </div>
        <!--m-content->row end-->
    </div>
    <!--m-content end-->
</div>

<!-- 新建视图弹窗 -->
<div class="modal fade" id="chooseSumViewModel" tabindex="-1" role="dialog"
     aria-labelledby="chooseSumViewModelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 15px">
                <h5 class="modal-title" id="chooseSumViewModelTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="sumViewTmnContainer" style="height: 365px;text-align: center;overflow-y:auto;"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="${http_base_url}/ui-static/agcloud/bpm/front/process/wfCommon.js"></script>
<script src="${http_base_url}/ui-static/agcloud/bpm/front/view/view_index_render.js" type="text/javascript"></script>
<script src="${http_base_url}/ui-static/agcloud/bpm/front/view/realPathTest.js" type="text/javascript"></script>
</body>

</html>


